[Unit]
Description=FRP Client - Sola App tunnel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
ExecStart=/home/admin_os/frp_0.69.0_linux_amd64/frpc -c /home/admin_os/frp_0.69.0_linux_amd64/frpc.toml
WorkingDirectory=/home/admin_os/frp_0.69.0_linux_amd64
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
